<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">
	
	<!-- 扫描业务层实现类注解所在的包、作用是为实现类注入实例 -->
	<context:component-scan base-package="cn.flights.service"/>
	
	<!-- 配置数据源DataSource -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<!-- 驱动 -->
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<!-- 连接url -->
		<property name="url" value="jdbc:mysql://localhost:3306/flightsmanagementdb?useUnicode=true&amp;characterEncoding=utf-8"/>
		<!-- 数据库用户名 -->
		<property name="username" value="root"/>
		<!-- 数据库密码 -->
		<property name="password" value="root"/>
	</bean>
	
	<!-- 配置SQLSessionFactoryBean -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 引用数据源 -->
		<property name="dataSource" ref="dataSource"></property>
		<!-- 加载mybatis-config配置文件 -->
		<property name="configLocation" value="classpath:mybatis-config.xml"></property>
		<!-- 加载mybatis映射文件  可以省略不写，前提是接口名称与映射文件名称同名-->
		<property name="mapperLocations">
			<list>
				<!-- 映射文件的路径 -->
				<value>classpath:cn/flights/dao/**/*.xml</value>
			</list>
		</property>
	</bean>
	
	
	<!-- 扫描加载mapper接口所在的路径 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 扫描加载mapper接口所在的路径 -->
		<property name="basePackage" value="cn.flights.dao"/>
	</bean>
	
	

</beans>
